@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@500&display=swap');

:root {
  --custom-Font: 'Roboto Flex', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  background: radial-gradient(circle, #d4d2d1, rgb(255, 255, 255) 0%, rgb(239, 245, 242) 100%);
}

.header-color {
  background-color: rgb(54, 92, 54);
}


.custom-font {
  font-family: var(--custom-Font);
}

.bg-bot-card {
  background-color: white;
}

.prevNextBtn {
  background-color: #00A055;
  color: white;
  transition: outline 0.2s ease-in-out;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent; /* Safari e iOS */
  -moz-tap-highlight-color: transparent; /* Firefox */
  -ms-tap-highlight-color: transparent; /* Internet Explorer */
}

.prevNextBtn:active{
  filter: brightness(1.3);
  transition: filter 0s;
  scale: 1.1
}
.prevNextBtn:is(:hover, :focus) {
  outline: solid;
  outline-color: #00A055;
  outline-offset: 1px;
}

.prevNextBtn:disabled {
  filter: none;
  outline: none;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 20;

  /* pointer-events: none;  Permitir clics en elementos detrás del overlay */
}

/* Estilos para el loader */
.loader {
  width: 50px;
  height: 50px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
